TenantFinder/TenantFinderClient/Connected Services/ServiceReference1/TenantFinder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TenantFinder" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TenantFinder" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="House">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="Rent" type="xs:float" />
      <xs:element minOccurs="0" name="ReqTenant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="House" nillable="true" type="tns:House" />
  <xs:complexType name="NotFoundHouse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundHouse" nillable="true" type="tns:NotFoundHouse" />
</xs:schema>